/* Import CSS needed for our websites and apps */
@import url("src/css/design-tokens.css");
@import url("src/css/base.css");

thead {
  position: sticky;
  top: 0;
  z-index: 101;
}

tbody > tr > td:first-child {
  position: sticky;
  left: 0;
  background-color: var(--mc-color-white);
  z-index: 100;
}